<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
</head>
<body>

	<!--Título-->
	<h1>Tabs with CSS3 & HTML5 only</h1>
	<!--Contenedor-->
	<div id="container">
		<!--Pestaña 1 activa por defecto-->
	    <input id="tab-1" type="radio" name="tab-group" checked="checked" />
	    <label for="tab-1">Tab 1</label>
	    <!--Pestaña 2 inactiva por defecto-->
	    <input id="tab-2" type="radio" name="tab-group" />
	    <label for="tab-2">Tab 2</label>
	    <!--Pestaña 3 inactiva por defecto-->
	    <input id="tab-3" type="radio" name="tab-group" />
	    <label for="tab-3">Tab 3</label>
	    <!--Contenido a mostrar/ocultar-->
	    <div id="content">
	    	<!--Contenido de la Pestaña 1-->
	        <div id="content-1">
	            <p class="left">
	            	<form action="" method="POST">
	            		
	            		{{work_form}}
	            		<input type="submit" value="subit" name="subite">
	            	</form>

	            </p>
	              </div>
	        <!--Contenido de la Pestaña 2-->
	        <div id="content-2">
	            <p class="column-left"><img src="http://ximg.es/200x150" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, est, nisi enim voluptates dicta quibusdam recusandae eveniet provident non at nostrum nesciunt laudantium omnis aliquam debitis magni expedita cumque tempore.</p>
            	<p class="column-right"><img src="http://ximg.es/200x150" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, molestiae, officia repellendus quasi cumque dolor eius deserunt possimus aliquid neque nam assumenda veniam soluta enim commodi aperiam reprehenderit quia incidunt.</p>
	        </div>
	        <!--Contenido de la Pestaña 3-->
	        <div id="content-3">
	        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, aperiam, enim odit placeat minus ab vero molestiae ad fugit maiores eaque saepe debitis assumenda ut ipsam eius sit repellendus dolore.</p>
	        	<ul>
	        		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, in magni illo dolore dicta vero.</li>
	        		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, minus, aspernatur voluptatem doloribus labore modi.</li>
	        		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, exercitationem quia id accusamus beatae sunt? Dolorum mollitia sint debitis delectus.</li>
	        	</ul>
	        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, accusantium, provident ab quo sed blanditiis perspiciatis distinctio aut voluptatibus cum odio quaerat iure vel dolorum fugit explicabo suscipit tenetur. Sed!</p>
	        </div>
	    </div>
	</div>
</body>
</html>